
.clear { clear: both; height: 0px; overflow: hidden; }

.Map { position: relative; z-index: 1; overflow: hidden; box-shadow: 0px 1px 12px 3px #242424;
    -webkit-box-shadow: 0px 1px 12px 3px #242424; -moz-box-shadow: 0px 1px 12px 3px #242424;
    -o-box-shadow: 0px 1px 12px 3px #242424; }

/* formulario de contacto */
    /* <<< Get Section >>> */
    .Get_sec { width: 100%; overflow: hidden; background-color: #0000ff; background-size: cover; }
    .Get_sec .Mid { padding: 20px 0px 20px 0px; max-width: 1100px; margin: auto; overflow: hidden;}
    .Get_sec h3.contactotext { padding-bottom: 10px; font-size: 20px; color: #f88e04; 
        font-family: 'Oswald', sans-serif; font-weight: 400; margin: 0px; text-transform:uppercase; 
        line-height: 25px;  text-align: center;}

    .Get_sec .Leftside { width: 48.2%; float: left; }
    .Get_sec .Leftside fieldset { padding: 0px; margin: 0px; }
    .Get_sec .Leftside p { padding: 0px; margin: 0px 0px 15px 0px;  }
    .Get_sec .Leftside input.field { padding: 18px 20px 17px 20px; font-size: 16px; color: #979797; 
        font-family: 'Open Sans', sans-serif; font-weight: 400; border: 0px; width: 100%; 
        box-shadow: 0px 2px 6px 0px #242424; -webkit-box-shadow: 0px 2px 6px 0px #242424; 
        -moz-box-shadow: 0px 2px 6px 0px #242424; -o-box-shadow: 0px 2px 6px 0px #242424; border-radius: 0px; }
    .Get_sec .Leftside input:focus { outline: none;}
    .Get_sec .Leftside textarea { padding: 18px 20px 17px 20px; font-size: 16px; color: #979797; font-family: 'Open Sans', sans-serif; font-weight: 400; border: 0px; width: 100%; height: 156px; resize:none; box-shadow: 0px 2px 6px 0px #242424; -webkit-box-shadow: 0px 2px 6px 0px #242424; -moz-box-shadow: 0px 2px 6px 0px #242424; -o-box-shadow: 0px 2px 6px 0px #242424; border-radius: 0px; }
    .Get_sec .Leftside textarea:focus { outline: none;}
    .Get_sec .Leftside .button { padding: 16px 0px 17px 0px; margin-top: -3px; font-size: 14px; color: #e9ecee; font-family: 'Open Sans', sans-serif; font-weight: 700; text-align: center; background: #e2850a; border: 0px; text-transform:uppercase; width: 100%; cursor: pointer; box-shadow: 0px 2px 6px 0px #242424; -webkit-box-shadow: 0px 2px 6px 0px #242424; -moz-box-shadow: 0px 2px 6px 0px #242424; -o-box-shadow: 0px 2px 6px 0px #242424; border-radius: 0px; transition: all 0.3s ease;}
    .Get_sec .Leftside .button:hover { background: #e2840ac9; color: #fff;}
    
    .Get_sec .Rightside { padding-top: 30px; width: 48.18%; float: right;}
    .Get_sec .Rightside h3 { padding-bottom: 44px; font-size: 46px; color: #f88e04; font-family: 'Oswald', sans-serif; font-weight: 400; margin: 0px; text-transform:uppercase; line-height: 46px; }
    .Get_sec .Rightside address { padding: 0px 0px 27px 65px; margin-left: 3px; font-size: 20px; color: #ebedf1; font-family: 'Open Sans', sans-serif; font-weight: 400; font-style: normal; background: url(../img/location-icn.png) left 4px no-repeat; line-height: 24px;  }
    .Get_sec .Rightside address.Number { background: url(../img/phone-icn.png) left 5px no-repeat; }
    .Get_sec .Rightside address.Email { margin-left: 4px; background: url(../img/mail-icn.png) left 0px no-repeat; }
    .Get_sec .Rightside address.Email a { text-decoration: none; color: #ebedf1; }
    .Get_sec .Rightside address.Email a:Hover { color: #3f3f3f; }
    .Get_sec .Rightside address.red { margin-left: 4px; background: url(../img/facebook-icn.png) left 0px no-repeat; }
    .Get_sec .Rightside address.red a:Hover { color: #3f3f3f; }
    .Get_sec .Rightside address.red a { text-decoration: none; color: #ebedf1; }
    .Get_sec .Rightside ul { list-style: none; margin: 0px; padding: 27px 0px 0px 3px; }
    .Get_sec .Rightside li { float: left; padding: 0px; margin: 0px  22px 0px 0px; }
    .Get_sec .Rightside li a { text-decoration: none; }

    /* ESTILO DEL FOOTER*/
/*-----*/
	/* <<< Container >>> */
    /* <<< footer >>> */
		footer { overflow: hidden; width: 100%; text-align: center; background: rgba(0, 0, 0, 0.6); }
		footer .Cntr { padding:  28px 0px; max-width: 1100px; margin: auto;}
		footer .Cntr p { padding: 0px; font-size: 13px; color: #a9abad; font-family:'Open Sans'; margin: 0px; }
		footer .Cntr a { color: #a9abad; text-decoration: none; }
		footer .Cntr a:hover { color: #fff; }
    
/*--------------------*/
/* FIN DE ESTILO DEL FOOTER*/